<section id="passion">
    <div class="section-hero text-accent-white">
        THING I DO FOR <span>WORK</span> AND <span>FUN</span>
    </div>
    <div class="hero-border">
        <div *ngFor="let icon of 20 | fill">
            <mat-icon class="material-icons">lens</mat-icon>
        </div>
    </div>
    <div id="passion-section-content">
        <div id="software">
            <mat-icon class="material-icons">laptop_mac</mat-icon>
            <div class="descriptions">
                <span class="text-accent-pink">SOFTWARE ENGINEER</span>
                <hr>
                <div class="description-details">
                    The pride and enjoyment I recieve from delivering software to customer seems limitless.
                    I love getting involed in the strategy, design, and implementation process of software.
                    Working with customers to distill the requirements into features that make sense is code is the engine
                    that drives my passion in this field.
                </div>
            </div>
        </div>
        <div id="family">
            <mat-icon class="material-icons">emoji_emotions</mat-icon>
            <div class="descriptions">
                <span class="text-accent-pink">HUSBAND & FATHER</span>
                <hr>
                <div class="description-details">
                    Having a great support system is key to anyone's success, and I have been blessed to have an
                    amazing and supporting wife. We welcomed our first daughter after 6 years of marriage. Becoming a father
                    has been a wild and inspiring journey that affects all aspects of my life - personal and professional. 
                </div>
            </div>
        </div>
        <div id="golf">
            <mat-icon class="material-icons">golf_course</mat-icon>
            <div class="descriptions">
                <span class="text-accent-pink">GOLFER</span>
                <hr>
                <div class="description-details">
                    When the time calls for relaxation and the outdoors, it is likely you will find me on the golf course. Like
                    all amateur golfers, I don't play enough to satisfy my desire to break 80, but the time spent with family and friends
                    on a course is a welcome reprieve from the daily happenings of life. 
                </div>
            </div>
        </div>
        <div id="game">
            <mat-icon class="material-icons">gamepad</mat-icon>
            <div class="descriptions">
                <span class="text-accent-pink">GAMER</span>
                <hr>
                <div class="description-details">
                    I'm devoted to board games with hour long rule books, video games, and D&D. Becoming a dungeon
                    master has revealed a striking similarity to my profession. There is nothing like formulating an extravagent plan
                    for a session, and it immediately get turned upside down by end users. Oh wait... that's just like delivering
                    software products. 
                </div>
            </div>
        </div>
    </div>
</section>
