<section id="passion">
    <div class="section-hero text-accent-white">
        THING I DO FOR <span>WORK</span> AND <span>FUN</span>
    </div>
    <app-circle-border></app-circle-border>
    <div id="passion-section-content">
        <div id="software">
            <mat-icon [@hoverPassion]=engineerState class="material-icons" (mouseover)="onHover('engineerState')" (mouseleave)="onHover('engineerState')">laptop_mac</mat-icon>
            <div class="descriptions">
                <span class="text-accent-yellow">SOFTWARE ENGINEER</span>
                <hr>
                <div class="description-details">
                    {{engineerDesc}}
                </div>
            </div>
        </div>
        <div id="family">
            <mat-icon [@hoverPassion]=familyState class="material-icons" (mouseover)="onHover('familyState')" (mouseleave)="onHover('familyState')">emoji_emotions</mat-icon>
            <div class="descriptions">
                <span class="text-accent-yellow">HUSBAND & FATHER</span>
                <hr>
                <div class="description-details">
                    {{familyDesc}}
                </div>
            </div>
        </div>
        <div id="golf">
            <mat-icon [@hoverPassion]=golferState class="material-icons" (mouseover)="onHover('golferState')" (mouseleave)="onHover('golferState')">golf_course</mat-icon>
            <div class="descriptions">
                <span class="text-accent-yellow">GOLFER</span>
                <hr>
                <div class="description-details">
                    {{golferDesc}}
                </div>
            </div>
        </div>
        <div id="game">
            <mat-icon [@hoverPassion]=gamerState class="material-icons" (mouseover)="onHover('gamerState')" (mouseleave)="onHover('gamerState')">gamepad</mat-icon>
            <div class="descriptions">
                <span class="text-accent-yellow">GAMER</span>
                <hr>
                <div class="description-details">
                    {{gamerDesc}}
                </div>
            </div>
        </div>
    </div>
</section>
