<section id="contact">
    <div class="section-hero text-accent-white">
        CONTACT <span>ME</span>
    </div>
    <app-circle-border></app-circle-border>
    <div id="contact-section-content">
        <button mat-icon-button (click)="email()">
            <mat-icon class="material-icons">email</mat-icon>
         </button>
         <button mat-icon-button (click)="goToLinkedIn()">
            in
         </button>
        <button mat-icon-button (click)="downloadResume()">
           <mat-icon class="material-icons">cloud_download</mat-icon>
        </button>
    </div>
</section>
