@use '../../app.component.scss';

#welcome {
    flex: 1;
    display: flex;
    justify-content: center;

    h1 {
        padding-top: 10rem;
    }

    #left-pane {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #DEDEDE;
        flex: 1;

        #left-pane-content-container {
            display: inherit;
            flex-direction: column;
            padding-right: 1rem;

            #name {
                display: inherit;
                font-size: 5rem;
                flex-direction: column;
                align-items: flex-end;
                font-weight: 600;

                div {
                    line-height: 5rem;
                }
            }

            #title {
                display: flex;
                font-size: 1.5rem;
                line-height: 2.5rem;
                justify-content: flex-end;
            }

            .rotate-title {
                span {
                    animation: fadeEffect 25s linear infinite 0s;
                    -ms-animation: fadeEffect 25s linear infinite 0s;
                    -webkit-animation: fadeEffect 25s linear infinite 0s;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    padding-right: .2rem;
                }

                span:nth-child(2){
                    animation-delay: 5s;
                    -ms-animation-delay: 5s;
                    -webkit-animation-delay: 5s;
                }
                span:nth-child(3){
                    animation-delay: 10s;
                    -ms-animation-delay: 10s;
                    -webkit-animation-delay: 10s;
                }
                span:nth-child(4){
                    animation-delay: 15s;
                    -ms-animation-delay: 15s;
                    -webkit-animation-delay: 15s;
                }
                span:nth-child(5){
                    animation-delay: 20s;
                    -ms-animation-delay: 20s;
                    -webkit-animation-delay: 20s;
                }


                /*FadeIn Animation*/
                @keyframes fadeEffect{
                    0% { opacity: 0; }
                    5% { opacity: 1; -ms-transform: translateY(0px); }
                    10% { opacity: 1; -ms-transform: translateY(0px); }
                    20% { opacity: 0; -ms-transform: translateY(0px); }
                    30% { opacity: 0; -ms-transform: translateY(0px); }
                    80% { opacity: 0; }
                    100% { opacity: 0; }
                }
                @-moz-keyframes fadeEffect{
                    0% { opacity: 0; }
                    5% { opacity: 1; -moz-transform: translateY(0px); }
                    10% { opacity: 1; -moz-transform: translateY(0px); }
                    20% { opacity: 0; -moz-transform: translateY(0px); }
                    30% { opacity: 0; -moz-transform: translateY(0px); }
                    80% { opacity: 0; }
                    100% { opacity: 0; }
                }
                @-webkit-keyframes fadeEffect{
                    0% { opacity: 0; }
                    5% { opacity: 1; -webkit-transform: translateY(0px); }
                    10% { opacity: 1; -webkit-transform: translateY(0px); }
                    20% { opacity: 0; -webkit-transform: translateY(0px); }
                    30% { opacity: 0; -webkit-transform: translateY(0px); }
                    80% { opacity: 0; }
                    100% { opacity: 0; }
                }
                @-ms-keyframes fadeEffect{
                    0% { opacity: 0; }
                    5% { opacity: 1; -ms-transform: translateY(0px); }
                    10% { opacity: 1; -ms-transform: translateY(0px); }
                    20% { opacity: 0; -ms-transform: translateY(0px); }
                    30% { opacity: 0; -ms-transform: translateY(0px); }
                    80% { opacity: 0; }
                    100% { opacity: 0; }
                }
            }
        }
        
    }

    #right-pane {
        flex: 1.5;
        
        #family {
            height: 100%;
            width: 100%;
        }
    }
}