<section id="welcome" [ngStyle]="{'min-height' : viewportHeight + 'px'}">
    <div id="left-pane">
        <div id="left-pane-content-container">
            <div id="name">
                <div>
                    <span>L</span>
                    <span class='text-accent-pink'>O</span>
                    <span>G</span>
                    <span class='text-accent-pink'>A</span>
                    <span>N</span>
                </div>
                <div>
                    <span>M</span>
                    <span class='text-accent-yellow'>A</span>
                    <span>R</span>
                    <span class='text-accent-yellow'>I</span>
                    <span>N</span>
                </div>
            </div>
            <div id="title" class="rotate-title text-accent-navy">
                <span>SOFTWARE ENGINEER</span>
                <span>MENTOR</span>
                <span>FATHER</span>
                <span>DUNGEON MASTER</span>
            </div>
        </div>
    </div>
    <div id="right-pane">
        <img id="family" src="assets/family.jpg">
    </div>
</section>