$pink: #e4757e;
$yellow: #fdbc69;
$navy: #0a1d49;

.displayFlex {
    display: flex;
}

.text-accent-pink {
    color: $pink;
}

.text-accent-yellow {
    color: $yellow;
}

.text-accent-navy {
    color: $navy;
}