$pink: #e4757e;
$yellow: #fdbc69;
$navy: #0a1d49;

.display-flex {
    display: flex;
}

.text-accent-white {
    color: #DEDEDE;
}

.text-accent-pink {
    color: $pink;
}

.text-accent-yellow {
    color: $yellow;
}

.text-accent-navy {
    color: $navy;
}

.section-hero {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;

    span {
        color: $pink;
    }
}
