<div class="landingPage">
    <app-welcome-section></app-welcome-section>
    <!-- TODO: Make sections components and calculate the viewportHeight * ratio in the component -->
    <section [ngStyle]="{'min-height' : viewportHeight * .80 + 'px'}">
        <h1>GET TO KNOW ME</h1>
    </section>
    <section [ngStyle]="{'min-height' : viewportHeight * .50 + 'px'}">
        <h1>MY PASSIONS IN LIFE</h1>
    </section> 
    <section [ngStyle]="{'min-height' : viewportHeight * .50 + 'px'}">
        <h1>LETS CONNECT</h1>
    </section>
</div>
