@use '../app.component.scss';

.landingPage {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    section {
        flex: 1;
        display: flex;
        background-color: aqua;
        justify-content: center;

        h1 {
            padding-top: 10rem;
        }
    }
}
