@use '../../app.component.scss';

#about {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    background-color: #fdbc69;

    #about-section-content {
        display: flex;
        padding: 2rem;
        width: 50%;

        #about-me {
            font-size: 1.2rem;
            line-height: 2rem;
            text-align: center;
        }
    }     
}
